html {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em rgb(46, 46, 46);
    font-size: 1.3em;

    background-repeat: no-repeat;
    background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(102, 212, 255, 0.3)), url("assets/bg.png");
    background-color: #191919;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}


body {
   background-color: rgba(255, 255, 255, 0);
}


#title {
    margin-top: 3vh;
    image-rendering: pixelated;
    width: 85vw;
}


h1 {
    font-weight: 100;
    font-size: 3em;
}

.game_pic {
    width: 40vmin;
    border-style: solid;
    border-color: rgb(46, 46, 46);
    background-color: rgb(46, 46, 46);
    border-width: 2vmin;
    border-radius: 10vmin;
    padding: 1px;
}


.navbar {
    border-style: ridge;
    border-left-width: 0;
    border-right-width: 0;

    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 0.5vh;
}


.navbar a {
    margin-left: 2vw;
    margin-right: 2vw;
}

a {
    text-decoration-thickness: 0.075em;
    color: white;
}

:visited {
    color: inherit;
}


.active {
    color: rgb(46, 46, 46);
    text-shadow: 0.1em 0.1em rgb(186, 252, 255);
}


a:hover {
    color: rgb(46, 46, 46);
    text-shadow: 0.1em 0.1em rgb(255, 255, 255);
}


hr {
    width: 70vw;
    max-width: 700px;
    background-color: white;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
